.service-list-container {
  display: flex;
  
}

.service-list {
  flex: 1;
}

.service-list h2 {
  margin-bottom: 20px;
}

.service-list ul {
  list-style: none;
  padding: 0;
}

.service-item {
  margin-bottom: 20px;
}

.service-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.service-icon {
  font-size: 24px;
  margin-right: 10px;
}

.service-title {
  font-weight: bold;
}

/* .service-arrow {
  margin-left: auto;
  font-size: 16px;
} */

.service-content {
  margin-top: 10px;
}

.service-details {
  flex: 1;
  padding-left: 40px;
}

.service-details img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .service-list-container {
    flex-direction: column;
  }

  .service-details {
    padding-left: 0;
  }
}


