/* app.css */

/* Nav bar */
.bg{
  background-color: #f3f9fe;
}

.navbar {
  border-bottom: 1px solid #e3f2fd;
  background-color: #fafdff;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  color: #0a0202;
}


/* Page content */
h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 2rem;
  color: #4bbd44;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  color: #1f4888;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
  margin-bottom: 2rem;
  padding-left: 0;
}

li {
  margin-bottom: 1rem;
}

/* Images */
.featured-image,
.popular-image {
  border: 1px solid #dee2e6;
  margin-bottom: 1rem;
}

.featured-image img,
.popular-image img {
  width: 100%;
}

.featured-image .caption,
.popular-image .caption {
  background-color: #f8f9fa;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
}
/* Dark theme styles for the footer */
/* Dark theme footer */
footer {
  background-color: #0b0202;
  color: #291a1a;
}

footer h5 {
  color: #1a0404;
}

footer p {
  color: #0f0202;
}

footer a {
  color: #0a0202;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
}

footer .p-3 {
  background-color: rgba(0, 0, 0, 0.2);
  color: #200a0a;
}
